
* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

a {
    color: #00B7FF;
    text-decoration: none;
}

input[type=submit]{
    font-size: 10px;
    margin: 10px 0px 10px 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor:pointer
}

header {
    margin-bottom: 50px;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

header a {
    color: #000000;
    font-size: 14px;
}



article {
    font-size: 16px;
    padding-top: 20px;
    width: 700px;
    position: relative;
    left: 50%;
    margin-left: -350px;
}

nav {
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 1.1em;
    text-transform: uppercase;
    width: 9em;
    text-align: right;
}

p {
    line-height: 24px;
    margin: 1em 0;
}

.title {
    padding: .5em 0;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    position: relative;
    left: 50%;
    margin-left: -350px;
}

.edit {
    margin: 3px;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #f3f3f3;
    color: #333;
    font-size: 13px;
}

.edit:hover {
    text-decoration: none;
    background-color: #f00;
    color: #fff;
    -webkit-transition: color .2s linear;
}

.search {
    height: 40px;
    width: 200px;
    padding-left: 20px;
    border-radius: 20px;
    outline: none;
    border: 0px;
    background-color: #dddddd;
}

.user {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #000000;
    border: 0px;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.user a {
    color: #ffffff;
}

.function a{
    border: #999999 1px solid;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}
.function a:hover{
    background-color: #000000;
    color: #ffffff;
}
